.container
    display: flex
    justify-content: center
    width: 800px
    margin: 0 auto
table
    width: 800px
    margin: auto
    padding: 30px
td
    padding: 10px 50px 10px 50px
a
    text-decoration: none
    color: black
.green
    color: green
.red
    color: red